/* @import url('https://fonts.googleapis.com/css?family=Inconsolata:700'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
}

header {
    position: relative;
    height: 250px;
    background-image: linear-gradient(#5200bd, #5b26ff)
}

section {
    margin: 30px 0;
}

section.content {
    clear: both;
}

.feed .project {
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feed .project .thumb {
    overflow: hidden;
}

.feed .thumb {
    -ms-transition: opacity 350ms ease-in-out,-ms-transform 400ms ease-in-out;
    -webkit-transition: opacity 350ms ease-in-out,-webkit-transform 400ms ease-in-out;
    transition: opacity 350ms ease-in-out,transform 400ms ease-in-out;
    z-index: 2;
}

.feed .thumb {
    position: relative;
}

.thumb img {
    height: auto;
    width: 100%;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

.image {
    width: 600px;
    height: 600px;
    background-size: cover;
    background-position: center center;
}

.thumbnail-title-wrap {
    background-image: radial-gradient(circle,rgba(0,0,0,.4) 0%,rgba(0,0,0,.65) 100%);
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -ms-transition: opacity 400ms ease-in-out,-ms-transform 400ms ease-in-out;
    -webkit-transition: opacity 400ms ease-in-out,-webkit-transform 400ms ease-in-out;
    transition: opacity 400ms ease-in-out,transform 400ms ease-in-out;
    width: 100%;
}

.thumbnail-title-wrap::before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    vertical-align: middle;
}

.center {
    display: inline-block;
    margin: 0;
    max-width: 90%;
    vertical-align: middle;
}

.title--thumbnail {
    color: #FFF;
    display: inline-block;
    font-family: Karla,sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
    padding-right: 0;
}

.title {
    color: #111;
    font-family: Karla,sans-serif;
    font-size: 26px;
    line-height: 1.5;
    padding-right: 45px;
}

.brick {
    float: left;
    max-width: 600px;
    margin: 0;
    opacity: 0;
    position: relative;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    width: 100%;
}

.brick--show {
    opacity: 1;
}

.brick::after {
    clear: both;
    content: '';
    display: block;
}

.brick>a {
    display: block;
}

@media only screen and (min-width: 600px) {
    .brick {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .brick {
        width: 33.3333%;
    }
}

@media only screen and (min-width: 1800px) {
    .brick {
        width: 25%;
    }
}
a, a:visited {
    color: #F0F;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

h1 {
    padding: 100px 0;
    font: 44px "Arial";
    text-align: center;
}

header h1 {
    color: white;
}

svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.container {
    position: relative;
    margin: auto;
    width: 300px;
    height: 100px;
  }
  .container .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: #6f00d9;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }
  .container .search:hover {
    cursor: pointer;
  }
  .container .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
  }
  .container .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
  }
  .container input {
    /* font-family: 'Inconsolata', monospace; */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #6f00d9;
    color: white;
    text-shadow: 0 0 10px #6f00d9;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #6f00d9, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
  }
  .container input:hover {
    cursor: pointer;
  }
  .container input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
  }
  .container input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
  }
  .container input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
  }
  .container input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
  }
  .container input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
  }
  
  
@media (max-width: 699px) {
    .svg--lg {
        display: none;
    }
}
  
@media (min-width: 700px) {
    .svg--sm {
      display: none;
    }
}